@import url(https://fonts.googleapis.com/css?family=Roboto:100);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto';
    transition: all 0.5s ease;
}
body{
    background: linear-gradient(
        #780206,#061161 );
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator{
    position: relative;
    background-color: #000;
    color: #FFF;
    height: auto;
    width: auto;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



#display{
    margin: 0 10px;
    font-family: 'Roboto';
    background-color: #454545;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    
    
    font-weight: 600;
    width: auto;
    max-width: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}
.buttons{
    
    padding: 2rem 2rem;
    border-radius: 1rem;
}
button{
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.11);
}
.btn-equal{
    background-color:   #FF9500;
    color: #FFF;
}
.div,.mul,.sub,.add{
    background-color:  #FF9500;
    color: #FFF;
}
.per,.cle,.back{
    background-color: #D4D4D2;
}
.btn-number{
    background-color: #505050;
    color: #FFF;
}